
header{
    background-color:#3e9aa6;
    margin:0;
}
header div{
text-align: center;
padding:20px;
display: flex;
justify-content: space-between;
align-items: center;
}
header h1{
    color:white;
    font-size:30px;
}
.profilePic{
    height:80px;
}
header div img,header div h1{
margin:0 30px;
}